<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DbDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>selectUserServlet</display-name>
    <servlet-name>selectUserServlet</servlet-name>
    <servlet-class>servlet.selectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectUserServlet</servlet-name>
    <url-pattern>/selectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUserServlet</display-name>
    <servlet-name>registerUserServlet</servlet-name>
    <servlet-class>servlet.registerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUserServlet</servlet-name>
    <url-pattern>/registerUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginUserServlet</display-name>
    <servlet-name>loginUserServlet</servlet-name>
    <servlet-class>servlet.loginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUserServlet</servlet-name>
    <url-pattern>/loginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exitUserServlet</display-name>
    <servlet-name>exitUserServlet</servlet-name>
    <servlet-class>servlet.exitUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitUserServlet</servlet-name>
    <url-pattern>/exitUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserServlet</display-name>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>servlet.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserServlet</display-name>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>servlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgetUserServlet</display-name>
    <servlet-name>forgetUserServlet</servlet-name>
    <servlet-class>servlet.forgetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetUserServlet</servlet-name>
    <url-pattern>/forgetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findUserByServlet</display-name>
    <servlet-name>findUserByServlet</servlet-name>
    <servlet-class>servlet.findUserByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUserByServlet</servlet-name>
    <url-pattern>/findUserByServlet</url-pattern>
  </servlet-mapping>
</web-app>